<div>
    <h2>Cambia password</h2>
    <%= form_with(scope: :user, url: cambia_password_admin_path, local: true) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      
      <div class="field">
        <%= f.label :old_password, "Vecchia password" %><br />
        <%= f.password_field :old_password, autofocus: true, autocomplete: "off" %>
      </div>
      
      <div class="field">
        <%= f.label :password, "Nuova password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, "Conferma Nuova Password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Conferma" %>
      </div>
    <% end %>
</div>