<div class="main-content">
  	<div class="main-content-inner">
    	<div class="page-content">
	      	<div class="container-fluid">
				<div class="row">
    				<div class="col-md-8 col-md-offset-1">	      		
			      		<% unless @errore.blank? %>
			      			<div class="alert alert-danger"><%= @errore %></div>
			      		<% end %>
			      		<% unless @successo.blank? %>
			      			<div class="alert alert-success"><%= @successo %></div>
			      		<% end %>
			      		<% unless @warning.blank? %>
			      			<div class="alert alert-warning"><%= @warning %></div>
			      		<% end %>
						<div class="row">
							<% unless @hash_applicazioni_ente.blank? %>
								<% @hash_applicazioni_ente.each_pair do |area,array_di_applicazioni| %>
									<div class="col-lg-2 col-md-2">
							  
									    <ul class="dd-list">
									      	<li class="text-center">
												<div class="btn btn-app no-hover no-pointer no-radius <%= area %>"><%= area.capitalize %></div>
									      	</li>
											<% array_di_applicazioni.each do |applicazione| %>
											    <li class="dd-item">
												    <a class="btn btn-app no-radius btn-cruscotto <%= area %>" style="text-shadow:none" href='<%= applicazione[:url] %>'>
												    <i class="icon fa <%= applicazione[:nome] %> bigger-230"></i><%= applicazione[:descrizione] %>
												    </a>
											    </li>
											<% end %>
									    </ul>
									    
									</div>
								<% end %>
							<% end %>
							<% if @hash_applicazioni_ente.blank? && !@errore_configurazione.blank? %>
								<div class="alert alert-danger"><%= @errore_configurazione %></div>
							<% end %>
						</div>
						
						<div>
							
						</div>
					</div>
				</div>
	      	</div>
    	</div>
  	</div>
</div>