<%= form_with(model: @user, local: true, class: "form-horizontal") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-lg">Login</div>
    <div class="panel-body">
      <div class="row">
      
	<div class="col-lg-12">
	  <input type='hidden' name='azione' value='login'>
	  <div class="row">
	  
	      <div class="col-sm-12">
		<div class="form-group form-group-sm" id="email_container">
		  <label class="control-label" for="email">Email</label>
		  <% if azione == 'vedi' %>
		    <p class="form-control-static"><%= @user.email %></p>
		  <% else %>
		    <%= form.text_field :email, class: "form-control input-sm no-radius" %>
		  <% end  %>
		</div>
	      </div>
	      
	    <% if azione == 'nuovo' %>
	  
	      <div class="col-sm-12">
		<div class="form-group form-group-sm" id="password_container">
		  <label class="control-label" for="password">Password</label>
		  <%= form.text_field :password, class: "form-control input-sm no-radius" %>
		</div>
	      </div>
	      
	      <div class="col-sm-12">
		<div class="form-group form-group-sm" id="password_confirmation_container">
		  <label class="control-label" for="password_confirmation">Conferma Password</label>
		  <%= form.text_field :password_confirmation, class: "form-control input-sm no-radius" %>
		</div>
	      </div>
	    
	    <% end  %>
	  
	      <div class="col-sm-12">
		<div class="form-group form-group-sm" id="nome_container">
		  <label class="control-label" for="nome">Nome</label>
		  <% if azione == 'vedi' %>
		    <p class="form-control-static"><%= @user.nome %></p>
		  <% else %>
		    <%= form.text_field :nome, class: "form-control input-sm no-radius" %>
		  <% end  %>
		</div>
	      </div>
	  
	      <div class="col-sm-12">
		<div class="form-group form-group-sm" id="cognome_container">
		  <label class="control-label" for="cognome">Cognome</label>
		  <% if azione == 'vedi' %>
		    <p class="form-control-static"><%= @user.cognome %></p>
		  <% else %>
		    <%= form.text_field :cognome, class: "form-control input-sm no-radius" %>
		  <% end  %>
		</div>
	      </div>
	      
	    <% if azione == 'vedi' %>
	      <div class="form-group">
		<label for="tipologia_utente" class="col-lg-1 control-label">Tipologia:</label>
		<div class="col-lg-10">
		  <p class="form-control-static">
		    <% if @user.admin_role %>
		      Amministratore
		    <% end  %>
		    <% if @user.admin_servizi %>
		      Amministratore Servizio
		    <% end  %>
		  </p>
		</div>
	      </div>  
	    <% else %>
	      <div class="form-group">
		<div class="col-lg-offset-1 col-lg-10">
		  <div class="checkbox">
		    <%= form.check_box :admin_role, id: "admin_role" %>
		    <label for="admin_role">Admin</label>
		  </div>
		</div>
	      </div>
	    
	      <div class="form-group">
		<div class="col-lg-offset-1 col-lg-10">
		  <div class="checkbox">
		    <%= form.check_box :admin_servizi, id: "admin_servizi" %>
		    <label for="admin_servizi">Admin Servizi</label>
		  </div>
		</div>
	      </div>
	    <% end %>
				      
	  </div>
	</div>
	
      </div>
      
    </div>
  </div>
    
  <%= form.hidden_field :nome_cognome %>
		
  <div class="text-center">
    <% if azione != 'vedi' %>
      <%= form.submit 'Salva', :class => 'btn btn-default btn-sm no-radius btn-primary' %>
    <% else %>
      <%= link_to 'Modifica', edit_user_path, id: "#{@user.id}", class: 'btn btn-default btn-sm no-radius btn-primary' %>
    <% end %>
    <%= link_to 'Lista Amministratori', users_path, {class: 'btn btn-default btn-sm no-radius btn-primary'} %>
  </div>

<% end %>
