<div class="card-box">
  <%= form_with(scope: :post, url: salva_enti_associati_path, local: true) do |form| %>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-lg"> Associa Enti </div>
    <div class="panel-body">
      <% if !@esito.blank? %>
	  <div class="row">
	      <div class="col-lg-offset-2 col-lg-8 alert alert-success"><%= @esito %></div>
	  </div>
      <% end %>
      <div class="row">
	  		<div class="col-lg-10"><h4>Utente <%= @utente_selezionato.nome %> <%= @utente_selezionato.cognome %> <%= @utente_selezionato.email %> </h4></div>
      </div>
      <div class="row">
	  		<div class="col-lg-10"><h4>Ente <%= @utente_selezionato.ente %> </h4></div>
      </div>

      <% if @utente_selezionato.enti_gestiti.length > 0 %>
			  <div class="row">
			      <h4>Enti Associati</h4>
			      <div class=" awe-grid">
							<div class="table-responsive">
							  <table class="table table-bordered table-striped">
							    <thead>
							      <tr>
											<th>Ente</th>
											<th colspan="3">Azioni</th>
							      </tr>
							    </thead>
							    <tbody>
							      <% @utente_selezionato.enti_gestiti.each do |ente| %>
										<tr>
										  <td><%= ente.clienti_cliente.CLIENTE %> <% if ente.principale == true %> <span class='label label-info pull-right'>Principale</span> <% end %> </td>
										  <td>
										  	<% if @current_user.superadmin_role? && !ente.principale %>
										  	<%= link_to "Rendi Principale", rendi_ente_principale_path(id: ente.id) %>
										  	<% end %>
										  </td>
										  <td><%= link_to "Cancella", ente_gestito_path(id: ente.id), method: :delete, data: { confirm: "Sei sicuro di cancellare l'associazione?" } %></td>
										  <td>
										  	<% if @utente_selezionato.admin_servizi %>
										  	<%= link_to "Vedi Applicazioni", vedi_applicazione_ente_gestito_path(id: ente.id) %>
										  	<% end %>
										  </td>
										</tr>
							      <% end %>
							    </tbody>
							  </table>
							</div>
			      </div>
			  </div>
      <% end %>

      <h4>Seleziona enti da associare</h4>
			<%= select_tag 'enti_da_associare[]', options_for_select( @enti.pluck(:CLIENTE, :ID), nil) , :multiple => true, :class => 'form-control input-sm no-radius'  %>
    </div>
  </div>
  <div class="text-center actions">
    <%= link_to 'Elenco Utenti', users_path, {class: 'btn btn-default btn-sm no-radius btn-primary'} %>
    <%= form.submit "Associa", :class => 'btn btn-default btn-sm no-radius btn-primary' %>
  </div>
  <% end %>
</div>
