<p id="notice"><%= notice %></p>

<h1>Amministratori</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Filtra
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
    <%= render_filterrific_spinner %>
    <%= link_to(
      'Reset',
      reset_filterrific_url,
    ) %>
  </div>
  <br /><br />
  
<% end %>

<%= render(
  partial: 'list',
  locals: { users: @users }
) %>

<%= link_to 'Crea Nuovo', new_user_path, {class: 'btn btn-primary'} %>
