<p id="notice"><%= notice %></p>

<p>
  <strong>Destroy:</strong>
  <%= @ente_gestito.destroy %>
</p>

<p>
  <strong>Show:</strong>
  <%= @ente_gestito.show %>
</p>

<%= link_to 'Edit', edit_ente_gestito_path(@ente_gestito) %> |
<%= link_to 'Back', enti_gestiti_path %>
