<p>
    <p>
        L'utente <strong><%= @user.nome %> <%= @user.cognome %> (Id: <%= @user.id %>)</strong> si è registrato con account <%= @user.email %>.
    </p>
    <p>
        Per abilitarlo si deve renderlo Confermato a questo <a href="<%= @url_conferma %>">indirizzo</a>
    </p>
</p>