<p id="notice"><%= notice %></p>

<h1>Applicazioni Ente</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicazioni_ente.each do |applicazioni_ente| %>
      <tr>
        <td><%= link_to 'Show', applicazioni_ente %></td>
        <td><%= link_to 'Edit', edit_applicazioni_ente_path(applicazioni_ente) %></td>
        <td><%= link_to 'Destroy', applicazioni_ente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicazioni Ente', new_applicazioni_ente_path %>
